@model Casgem.DapperProject.DAL.Entities.Headings
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <br />
    <form method="post">
        <label>Başlık Adı</label>
        <input type="text" class="form-control" asp-for="HeadingName" />
        <br />
        <button class="btn btn-primary">Başlığı Ekle</button>
    </form>
</div>