@model List<Casgem.DapperProject.DAL.Entities.Headings>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <table class="table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Durum</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.HeadingId</td>
                <td>@item.HeadingName</td>
                <td>@item.HeadingStatus</td>
                <td><a href="/Heading/DeleteHeading/@item.HeadingId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Heading/UpdateHeading/@item.HeadingId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Heading/AddHeading" class="btn btn-primary">Yeni Başlık Ekle</a>
</div>