@model Casgem.DapperProject.DAL.Entities.Headings

@{
    ViewData["Title"] = "UpdateHeading";
}

<h1>UpdateHeading</h1>

<h4>Headings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="HeadingId" />
            <label>Başlık adı</label>
            <input type="text" class="form-control" asp-for="HeadingName" />
            <br />
            <label>Durumu</label>
            <input type="checkbox" class="form-control" asp-for="HeadingStatus" />
            <br />
            <button class="btn btn-dark">Başlığı Güncelle</button>
        </form>
    </div>
</div>
