@model Casgem.DapperProject.DAL.Entities.Headings

@{
    ViewData["Title"] = "UpdateHeading";
}

<h4>Update Heading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="HeadingId" />
            <label>Başlık adı</label>
            <input type="text" class="form-control" asp-for="HeadingName" />
            <br />
            <label>Durumu</label>
            <!--  <input type="checkbox" asp-for="HeadingStatus" /> -->
            <br />
            <hr />
            <button class="btn btn-dark">Başlığı Güncelle</button>
            @if (Model.HeadingStatus)
            {
                <input type="radio" name="HeadingStatus" value="False" />
                <label>Pasif</label>
            }
            else
            {
                <input type="radio" name="HeadingStatus" value="True">
                <label>Aktif</label>
            }
        </form>
    </div>
</div>
